<header>
  <nav class="nbar fixed-top shadow">
      <div class="nbar-container">
          <a class="nbar-brand" href="http://angular.worksync.net">UKPolling Data</a>
          <button data-toggle="collapse" class="nbar-toggler" data-target="#navcol-1">
              <span class="sr-only">Toggle navigation</span>
              <i class="fas fa-bars"></i>
          </button>
          <div class="nbar-collapse collapse show" id="navcol-1">
              <ul class="nbar-items">
                    <li class="nbar-item" role="presentation"><a class="nbar-link active" href="/" >Home</a></li>
              </ul>
          </div>
      </div>
  </nav>
</header>
<app-polling></app-polling>
<footer>
  <div class="footr">
      <div class="fcentre"><a href="http://angular.worksync.net">UKPolling Data - an Angular project by Dave Bryant.</a></div>
  </div>
</footer>