.appcontainer{
    height: 80vh;
    width: 90vw;
    background-color: white;
    margin: 10vh auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-gap: 0px;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas:
    "header  header "
    "sidebar content"
}

.app-header{
    grid-area: header;
    background-color: #888888;
    border: 1px #666666 solid;
}

.app-sidebar{
    grid-area: sidebar;
    background-color: #999999;
    border: 1px #666666 solid;
}

.app-content{
    grid-area: content;
    background-color: rgb(233, 243, 243);
    border: 3px #aaaaaa solid;
    overflow: scroll;
}